@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: unset;
}

.b {
  border: 2px solid red;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #232536;
  color: #fff;
  border-bottom: 1px solid #2e303f;
}

.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-right: 32px;
}

.header_button_block {
  width: 137px;
  background-repeat: no-repeat;
  background-image: url("./images/header_arrow.svg");
  background-position: right center;
}

.header_button {
  color: #ffd3af;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-right: 12px;
}

.hero {
  background-color: #232536;
  color: #fff;
  padding-top: 96px;
  padding-bottom: 32px;
}

.hero_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 121%;
  margin-bottom: 24px;
  margin-top: 56px;
}

.hero_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 32px;
  opacity: 0.6;
}

.hero_content {
  width: 624px;
  background-repeat: no-repeat;
  background-image: url("./images/hero_content_bg.svg");
  background-position: left top;
}

.hero_img_block {
  width: 563px;
}

.hero_button {
  width: 214px;
  padding: 20px 32px;
  background-color: #444cfc;
  opacity: 0.87;
  background-repeat: no-repeat;
  background-image: url("./images/hero_button_bg.svg"),
    url("./images/white_arrow.svg");
  background-position: left top, 165px 24px;
}
.hero_button_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.hero_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.clients_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 2px;
  opacity: 0.6;
}

.clients_desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clients_list {
  display: flex;
  gap: 32px;
}

.about {
  padding-top: 120px;
  padding-bottom: 98px;
}

.about_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  opacity: 0.87;
  margin-bottom: 16px;
}

.about_desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  width: 640px;
}

.about_desc2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 16px;
}

.about_desc3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5d5f6d;
}

.about_sub_content {
  width: 547px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.about_img_item {
  width: 418px;
}

.about_img_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-image: url("./images/about_img_list_bg.svg");
  background-position: right top;
}

.about_sub_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
}

.about_sub_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.about_list {
  display: flex;
  align-items: center;
}

.about_item {
  margin-right: 66px;
}

.about_button_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #444cfc;
  opacity: 0.87;
  margin-right: 16px;
}

.about_button {
  flex-grow: 1;
  text-align: end;
}

.expertise {
  padding-top: 112px;
  padding-bottom: 104px;
  background-color: #ecf8f9;
  background-repeat: no-repeat;
  background-image: url("/images/expertise_list_bg_top.svg");
  background-position: 58.88% 13.3%;
}

.expertise_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise_content {
  width: 622px;
}

.expertise_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  opacity: 0.87;
  margin-bottom: 16px;
}

.expertise_desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  margin-bottom: 24px;
}

.expertise_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5d5f6d;
}

.expertise_list {
  background-repeat: no-repeat;
  background-image: url("./images/expertise_list_bg_bottom.svg");
  background-position: bottom center;
}

.expertise_item:nth-child(3) {
  margin-bottom: 8px;
}

.expertise_item {
  background-color: #fff;
  width: 515px;
  display: flex;
  padding: 32px;
  margin-bottom: 12px;
}

.expertise_item_content {
  width: 303px;
  margin-left: 16px;
}

.services {
  background-color: #ffe6d2;
  padding-top: 96px;
  padding-bottom: 96px;
  color: #232536;
}

.services_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  opacity: 0.87;
  margin-bottom: 12px;
}

.services_desc {
  width: 777px;
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  margin-bottom: 40px;
}

.services_button_link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.services_button {
  width: 214px;
  background-color: #444cfc;
  padding: 20px 32px;
  background-repeat: no-repeat;
  background-image: url("./images/services_button_bg.svg"),
    url("./images/white_arrow.svg");
  background-position: left top, 165px 24px;
}

.services_content {
  width: 777px;
  margin-bottom: 80px;
}

.services_sub_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.services_sub_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5d5f6d;
  margin-bottom: 24px;
}

.services_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #444cfc;
  opacity: 0.87;
  margin-right: 12px;
}

.services_item {
  width: 405px;
  box-shadow: 0 60px 68px -30px #ffa15559;
  background-color: #fff;
  padding: 48px 40px;
}

.services_list {
  display: flex;
  justify-content: space-between;
}

.process {
  padding-top: 96px;
  padding-bottom: 96px;
}

.process_content {
  margin-bottom: 68px;
  background-repeat: no-repeat;
  background-image: url("./images/process_content_bg.svg");
  background-position: right top 24px;
}

.process_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  margin-bottom: 16px;
  opacity: 0.87;
}

.process_desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  margin-bottom: 16px;
  width: 680px;
}

.process_text {
  width: 642px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.87;
}

.process_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg.svg"),
    url("./images/process_item_bg.svg"),
    url("./images/process_item_line_bg.svg"),
    url("./images/process_item_line_bg.svg"),
    url("./images/process_item_line_bg.svg"),
    url("./images/process_item_line_bg.svg");
  background-position: left 44.6%, right 55.3%, 32.03% 22.5%, 67.95% 22.5%,
    32.03% 77.95%, 67.95% 77.95%;
}

.process_item_content {
  width: 270px;
}

.process_item {
  width: 394px;
  padding: 30px 28px;
  border: 1px solid #2325362b;
  display: flex;
}

.process_item:nth-child(1) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg1.svg");
  background-position: right 18px top 20px;
}

.process_item:nth-child(2) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg2.svg");
  background-position: right 18px top 20px;
}

.process_item:nth-child(3) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg3.svg");
  background-position: right 18px top 20px;
}

.process_item:nth-child(4) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg4.svg");
  background-position: right 18px top 20px;
}

.process_item:nth-child(5) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg5.svg");
  background-position: right 18px top 20px;
}

.process_item:nth-child(6) {
  background-repeat: no-repeat;
  background-image: url("./images/process_item_bg6.svg");
  background-position: right 18px top 20px;
}

.process_img_block {
  margin-right: 16px;
}

.process_sub_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 6px;
}

.process_sub_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f9f9ff;
}

.customers_content {
  width: 502px;
}

.customers_block {
  background-repeat: no-repeat;
  background-image: url("./images/square_bg.svg");
  background-position: left top;
}

.customers_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  margin-bottom: 16px;
  margin-top: 30px;
}

.customers_desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #232536;
  margin-bottom: 16px;
}

.customers_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.87;
  margin-bottom: 24px;
}

.customers_img_list {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.customers_review {
  font-size: 12px;
  line-height: 133%;
  font-weight: 500;
}

.customers_num {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.customers_comment_block {
  background-color: #fff;
  width: 607px;
  padding: 44px 40px;
  background-repeat: no-repeat;
  background-image: url("./images/customers_bg_line.svg"),
    url("./images/customers_quote.svg");
  background-position: left center, 90% top;
}

.customers_comment {
  width: 498px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 24px;
}
.customer_name {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #232536;
  opacity: 0.87;
}

.customer_position {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #232536;
  opacity: 0.6;
}

.customers_customer1 {
  margin-right: 16px;
}

.customers_acc {
  display: flex;
  align-items: center;
}

.customers_acc_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news {
  padding-top: 130px;
  padding-bottom: 96px;
  background-color: #ecf8f9;
}

.news_title {
  padding-top: 30px;
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  margin-bottom: 48px;
}

.news_item {
  height: 248px;
  width: 624px;
  display: flex;
  background-color: #fff;
}

.news_content {
  padding: 32px;
}

.news_date {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #232536;
  opacity: 0.6;
  margin-bottom: 8px;
}

.news_text {
  width: 264px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.news_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #444cfc;
  opacity: 0.87;
  margin-right: 12px;
}

.news_list {
  display: flex;
  justify-content: space-between;
}

.news_block {
  background-repeat: no-repeat;
  background-image: url("./images/square_bg.svg");
  background-position: left top;
}

.footer {
  padding-top: 96px;
}

.footer_top {
  padding: 96px;
  background-color: #666dff;
  margin-bottom: 96px;
  background-repeat: no-repeat;
  background-image: url("./images/footer_top_bg1.svg"),
    url("./images/footer_top_bg2.svg");
  background-position: left top, right center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_top_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 13px;
}

.footer_top_text {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  width: 488px;
}

#email {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: #232536;
  opacity: 0.4;
  width: 454px;
  height: 64px;
  text-align: start;
  padding: 20px 32px;
  border: none;
  background-color: #fff;
}

.footer_content {
  padding-top: 66px;
  padding-bottom: 64px;
  background-repeat: no-repeat;
  background-image: url("./images/footer_content_bg1.svg");
  background-position: left top;
}

.footer_content_text {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  color: #232536;
  width: 470px;
  margin-bottom: 40px;
}

.footer_cap {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 28px;
}

.footer_number {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #232536;
  display: block;
}

.footer_mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #232536;
  display: block;
  margin-top: 14px;
}

.footer_location {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #232536;
  margin-top: 30px;
  width: 206px;
  margin-top: 16px;
}

.footer_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #232536;
}

.footer_item {
  margin-bottom: 12px;
}

.footer_block {
  display: flex;
  gap: 61px;
}

.footer_content_block,
.footer_lists {
  flex-grow: 1;
}

.footer_lists {
  padding-left: 18px;
}

.footer_content {
  display: flex;
}

.footer_button {
  font-weight: 500;
  padding-left: 57px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("./images/footer_content_bg2.svg"),
    url("./images/arrow.svg");
  background-position: left center, right center;
  color: #232536;
}

.footer_lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_link_block {
  text-align: right;
}

.footer_bottom {
  background-color: #ffe6d2;
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer_bottom_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.footer_bottom_content {
  display: flex;
  gap: 42px;
}

.footer_bottom_list {
  display: flex;
  gap: 26px;
}

.footer_bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Service page*/

.process_service {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f9f9ff;
}

.services_hero_block {
  display: flex;
  gap: 270px;
  align-items: center;
}

.services_hero_content {
  width: 624px;
}

.services_hero_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services_hero_desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  margin-bottom: 16px;
}

.services_hero_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 24px;
}

.services_hero_button_link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.services_hero_button {
  width: 230px;
  background-color: #444cfc;
  padding: 20px 32px;
  background-repeat: no-repeat;
  background-image: url("./images/services_button_bg.svg"),
    url("./images/white_arrow.svg");
  background-position: left top, 180px 24px;
}

.services_hero_list {
  width: 294px;
}

.services_hero_link {
  font-weight: 600;
  font-size: 24px;
  line-height: 190%;
}

.support {
  padding-bottom: 96px;
}

.support_content {
  width: 624px;
  margin-top: 140px;
}

.support_block {
  display: flex;
  justify-content: space-between;
}

.support_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 16px;
}

.support_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.support_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

.development {
  padding-bottom: 96px;
  background-color: #ecf8f9;
}

.development_content {
  width: 624px;
  margin-top: 140px;
}

.development_block {
  display: flex;
  justify-content: space-between;
}

.development_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 16px;
}

.development_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.development_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

.azure {
  padding-bottom: 96px;
}

.azure_content {
  width: 624px;
  margin-top: 140px;
}

.azure_block {
  display: flex;
  justify-content: space-between;
}

.azure_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 16px;
}

.azure_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.azure_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

.consulting {
  padding-bottom: 96px;
  background-color: #f9f9ff;
}

.consulting_content {
  width: 624px;
  margin-top: 140px;
}

.consulting_block {
  display: flex;
  justify-content: space-between;
}

.consulting_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 16px;
}

.consulting_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.consulting_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

.information {
  padding-bottom: 96px;
}

.information_content {
  width: 624px;
  margin-top: 140px;
}

.information_block {
  display: flex;
  justify-content: space-between;
}

.information_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.87;
  margin-bottom: 16px;
}

.information_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #232536;
  margin-bottom: 24px;
}

.information_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232536;
  opacity: 0.6;
}

/*Career page*/

.career {
  padding-top: 96px;
  padding-bottom: 96px;
  color: #232536;
}

.career_hero_block {
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("./images/career_hero_bg.svg");
  background-position: top right;
}

.career_hero_content {
  width: 624px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.career_hero_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  opacity: 0.87;
  margin-bottom: 24px;
}

.career_hero_desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  margin-bottom: 24px;
}

.career_hero_link {
  margin-bottom: 16px;
}

.career_hero_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.87;
}

.career_hero_main {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f8d46;
  background-image: url(./images/career_hero_bg.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  font-size: 200px;
  text-align: center;
  font-weight: 900;
  background-color: #2f8d46;
}

.position {
  padding-bottom: 96px;
}

.position_block {
  background-color: #ecf8f9;
  color: #232536;
}

.position_list {
  padding: 78px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.position_item {
  width: 354px;
  padding-top: 48px;
  padding-left: 48px;
  padding-bottom: 30px;
  background-color: #fff;
}

.position_sub_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 10px;
}

.position_sub_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 3px;
  opacity: 0.6;
}

.position_sub_text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 52px;
  opacity: 0.6;
}

.position_link {
  width: 117px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #5d5fef;
  background-repeat: no-repeat;
  background-image: url("./images/career_position_arrow.svg");
  background-position: center right;
}

.career_work {
  background-color: #fafafc;
  color: #232536;
  padding-top: 96px;
  padding-bottom: 96px;
}

.career_work_content {
  margin-bottom: 64px;
  width: 622px;
}

.career_work_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #000;
  opacity: 0.87;
  margin-bottom: 16px;
}

.career_work_desc {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 24px;
}

.career_work_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.career_work_item {
  padding: 32px;
  padding-top: 42px;
  width: 418px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("./images/career_work_bg.svg");
  background-position: top 32px left 32px;
}

.career_img_block {
  position: relative;
  left: 12px;
}

.career_work_sub_title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  padding-bottom: 8px;
}

.career_work_sub_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  opacity: 0.6;
}

.career_work_list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
